# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
DartConfiguration.tcl

# generated libraries
/libunstickymem.so

# generated executables
/bench
/autobench
/test_hello_world
/test_joao
